{
   "semi": true,
   "singleQuote": true,
   "tabWidth": 3,
   "useTabs": false,
   "trailingComma": "es5",
   "printWidth": 140,
   "bracketSpacing": true,
   "arrowParens": "always",
   "endOfLine": "lf",
   "plugins": [
      "@shufo/prettier-plugin-blade",
      "prettier-plugin-organize-imports"
   ],
   "overrides": [
      {
         "files": ["*.blade.php"],
         "options": {
            "parser": "blade",
            "tabWidth": 3,
            "sortTailwindcssClasses": true,
            "wrapAttributes": "preserve"
         }
      },
      {
         "files": ["*.vue"],
         "options": {
            "parser": "vue",
            "tabWidth": 3
         }
      },
      {
         "files": ["*.jsx", "*.tsx"],
         "options": {
            "tabWidth": 3,
            "jsxSingleQuote": false
         }
      },
      {
         "files": ["*.yml", "*.yaml"],
         "options": {
            "tabWidth": 2
         }
      },
      {
         "files": ["*.svelte"],
         "options": {
            "parser": "svelte",
            "tabWidth": 3
         }
      }
   ]
}
